

nz-content {
  margin: 0 20px;
  background: transparent;
}

nz-breadcrumb {
  margin: 20px 0;

  background:transparent;

}

.inner-content {
  padding: 10px;
  background: #b9ffde41;
  min-height: auto;
  border-radius: 5px;
  padding-bottom: 0;
}


.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;

}

.editable-row:hover .editable-cell {
  color: #1890ff;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  padding: 4px 11px;
}
.save {
  margin-right: 8px;
}

[nz-icon] {
  margin-right: 6px;
  font-size: 20px;
}


.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
