
<nz-content style="background: transparent">

  <nz-page-header style="margin:0% ; padding:0%">
    <nz-page-header-title style="font-size:1.3vw">Employee List</nz-page-header-title>
    <nz-page-header-extra>

      <nz-space style="margin: 0 10px">
        <button   *nzSpaceItem nz-button nzType="primary"  nzShape="round" [routerLink]="['/home/employeelist/addemployee']">
          <span nz-icon   nz-Align="center" nz-icon nzType="user-add" nzTheme="outline"></span>
         Add employee
        </button>
      </nz-space>
      <nz-space >
        <button style="background-color:rgb(209, 67, 41); border-color:rgb(209, 67, 41);" *nzSpaceItem (click)="generatePDF()" nz-button nz-Align="right" nzType="primary"  nzShape="round">
          <span nz-icon  nz-Align="center" nz-icon nzType="file-excel" nzTheme="outline"></span>

          Export PDF
        </button>

      </nz-space >

      <nz-space style="margin: 0 10px">
        <button style="background-color:rgb(139, 255, 187); border-color:rgb(139, 255, 187);" *nzSpaceItem (click)="generateCSV()" nz-button nz-Align="right" nzType="primary"  nzShape="round">
          <span nz-icon  nz-Align="center" nz-icon nzType="file-excel" nzTheme="outline"></span>

          Export CSV
        </button>
      </nz-space >

      <!-- <nz-space >
        <button style="background-color:rgb(0, 224, 0); border-color:rgb(0, 224, 0);" *nzSpaceItem (click)="exportTableToExcel()" nz-button nz-Align="right" nzType="primary"  nzShape="round">
          <span nz-icon  nz-Align="center" nz-icon nzType="file-excel" nzTheme="outline"></span>
          Export Data
        </button>
      </nz-space> -->

    </nz-page-header-extra>
    <nz-page-header-content style="margin-left: 40px;">
        <nz-row nzType="flex">
          <nz-statistic style="margin: 0 10px" nzTitle="Total Current Employee" nzValue="{{employee_count}}"></nz-statistic>
          <nz-statistic nzTitle="New Employee" nzValue="{{new_employee_count}}"></nz-statistic>
        </nz-row>

    </nz-page-header-content>

  </nz-page-header>

  <div class="inner-content">
                                 <nz-table  [nzScroll]="{ x: '1200px', y: '690px' }" #smallTable nzSize="small"  id="employeeList_sheet" #editRowTable nzBordered  [nzData]="employee_list"  nzFrontPagination="false" [nzPageSize]="10">

                                  <thead >
                                    <tr style="height: 20px">

                                      <th nzAlign="center" nzWidth="4%" >Profile</th>
                                      <th nzAlign="center" nzWidth="6%">Date Employment</th>

                                      <th  nzAlign="center" nzWidth="6%" nzCustomFilter> First name
                                        <nz-filter-trigger  nzAlign="right" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                                          <span nz-icon nzType="search"></span>
                                        </nz-filter-trigger>
                                      </th>
                                      <th nzAlign="center" nzWidth="6%">Middle name</th>
                                      <th nzAlign="center" nzWidth="6%">Last name</th>
                                      <th nzAlign="center" nzWidth="6%">Username</th>
                                      <th nzAlign="center" nzWidth="6%">Password</th>
                                      <th nzAlign="center" nzWidth="10%">Email</th>
                                      <th nzAlign="center" nzWidth="8%">Number</th>
                                      <th nzAlign="center" nzWidth="6%">Position</th>
                                      <th nzAlign="center" nzWidth="6%">Department</th>
                                      <th nzAlign="center" nzWidth="8%">Status</th>
                                      <th nzAlign="center" nzWidth="6%">Role</th>
                                      <th nzAlign="center" nzWidth="6%">Leave</th>

                                      <th nzAlign="center" nzWidth="7%">Action</th>

                                    </tr>
                                  </thead>
                                  <tbody >

                                    <ng-container *ngFor="let data of  editRowTable.data">

                                    <tr   class="editable-row">

                                        <td nzAlign="center">
                                        <a (click)="getemployee(data.id)"> <nz-avatar nzIcon="user" nzSrc="{{data.image}}"></nz-avatar></a>
                                        </td>
                                        <td nzAlign="center">{{ data.date_join}}</td>

                                        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">

                                        <td nzAlign="center">{{ data.fname}}</td>
                                        <td nzAlign="center">{{ data.mname}}</td>
                                        <td nzAlign="center">{{ data.lname}}</td>
                                        <td nzAlign="center">{{ data.userName}}</td>
                                        <td nzAlign="center">{{ data.password}}</td>
                                        <td nzAlign="center">{{ data.email}}</td>
                                        <td nzAlign="center">{{ data.number}}</td>
                                        <td nzAlign="center">{{ data.position}}</td>
                                        <td nzAlign="center">{{ data.department}}</td>
                                        <td nzAlign="center">{{ data.attendance}}</td>
                                        <td nzAlign="center">{{ data.accessType}}</td>
                                        <!-- [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)" -->
                                        <td nzAlign="center">
                                          <div *ngIf="data.apply.approval === '' ">
                                           ----
                                          </div>
                                          {{ data.apply.approval}}</td>
                                        <td nzAlign="center">

                                          <a (click)="startEdit(data.id)" style="padding:10px">
                                          <span nz-icon nzType="edit" nzTheme="outline"></span> Edit

                                          </a>

                                          <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteEmployee(data.id)"  nz-button nzType="link" nzDanger>
                                          <span nz-icon nzType="user-delete" nzTheme="outline" ></span>Delete
                                          </a>

                                        </td>

                                      </ng-container>
                                      <ng-template #editTemplate>

                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.fname" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.mname" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.lname" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.userName" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.password" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.number" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.position" /></td>
                                        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.department" /></td>
                                        <!-- <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.date_join" /></td> -->


                                        <td nzAlign="center">



                                          <nz-select nzPlaceHolder="Select Status" [(ngModel)]="editCache[data.id].data.attendance">
                                            <nz-option nzValue="active" nzLabel="Active"></nz-option>
                                            <nz-option nzValue="leave" nzLabel="Leave"></nz-option>
                                          </nz-select>

                                        </td>

                                        <!-- <td nzAlign="center">

                                          <nz-select nzPlaceHolder="Select an Access type" [(ngModel)]="editCache[data.id].data.attendance">
                                            <nz-option nzValue="active" nzLabel="Active"></nz-option>
                                            <nz-option nzValue="leave" nzLabel="Leave"></nz-option>
                                          </nz-select>


                                        </td> -->



                                        <td nzAlign="center">



                                          <nz-select nzPlaceHolder="Select an Access type" [(ngModel)]="editCache[data.id].data.accessType">
                                            <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
                                            <nz-option nzValue="employee" nzLabel="Employee"></nz-option>
                                          </nz-select>

                                        </td>

                                        <td nzAlign="center">
                                          <nz-select nzPlaceHolder="Leave Status" [(ngModel)]="editCache[data.id].data.apply.approval">
                                            <nz-option nzValue="approved" nzLabel="approved"></nz-option>
                                            <nz-option nzValue="pending" nzLabel="pending"></nz-option>
                                            <nz-option nzValue="declined" nzLabel="declined"></nz-option>
                                          </nz-select>
                                        </td>

                                        <td nzAlign="center">
                                          <a (click)="saveUser(data.id)" class="save">Save</a>
                                          <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
                                        </td>

                                      </ng-template>


                                    </tr>
                                      <!-- <tr [nzExpand]="expandSet.has(data.id)">
                                        <nz-table #innerTable nzSize="small" [nzShowPagination]="false">
                                          <thead>

                                              <th nzAlign="center"></th>
                                              <th nzAlign="center">Apply type</th>
                                              <th nzAlign="center">Reason</th>
                                              <th nzAlign="center">Date to</th>
                                              <th nzAlign="center">Date from</th>
                                              <th nzAlign="center">Approval</th>


                                          </thead>


                                              <td nzAlign="center"></td>
                                              <td nzAlign="center">{{ data.apply.type}}</td>
                                              <td nzAlign="center">{{ data.apply.reason}}</td>
                                              <td nzAlign="center">{{ data.apply.date_to}}</td>
                                              <td nzAlign="center">{{ data.apply.date_from}}</td>
                                              <td nzAlign="center" >
                                                <ng-container *ngIf="data.apply.approval === 'approved'">
                                                  <nz-badge [nzStatus]="'success'" [nzText]="data.apply.approval"></nz-badge>
                                                </ng-container>
                                                <ng-container *ngIf="data.apply.approval === 'pending'">
                                                  <nz-badge [nzStatus]="'warning'" [nzText]="data.apply.approval"></nz-badge>
                                                </ng-container>
                                                <ng-container *ngIf="data.apply.approval === 'declined'">
                                                  <nz-badge [nzStatus]="'error'" [nzText]="data.apply.approval"></nz-badge>
                                                </ng-container>
                                              </td>



                                        </nz-table>
                                      </tr> -->




                                  </ng-container>

                                  </tbody>
                                </nz-table>
                                <nz-dropdown-menu #menu="nzDropdownMenu">
                                  <div class="ant-table-filter-dropdown">
                                    <div class="search-box">
                                      <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                                      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
                                      <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                    </div>
                                  </div>
                                </nz-dropdown-menu>



  </div>

  <router-outlet></router-outlet>
</nz-content>

