

<nz-card class="card" style=" background-color: rgba(255,255,255,0.3); text-align:center;" nzTitle="Login">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user" >
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
            <input [type]="passwordVisible ? 'text' : 'password'"  formControlName="password" nz-input placeholder="input password" [(ngModel)]="password"/>
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" ></span>
          </ng-template>
       </nz-form-control>
    </nz-form-item>
    <div nz-row class="login-form-margin">
      <div nz-col [nzSpan]="12">
        <label nz-checkbox formControlName="remember">
          <span >Remember me</span>
        </label>
      </div>
      <!-- <div nz-col [nzSpan]="12">
        <a class="login-form-forgot">Forgot password</a>
      </div> -->
    </div>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzShape="round">Log in</button>
    Or
  </form>
  <a  routerLink="/register"> Register employee</a>


</nz-card>
