<nz-layout class="layout" style="background:transparent">
  <nz-sider style="border-radius:5px; background:transparent" nzCollapsible [(nzCollapsed)]="isCollapsed"   [nzTrigger]="null">
    <div class="logo">

    </div>


    <ul nz-menu nzTheme="light"  style="border-radius:5px; background:transparent" nzMode="inline">
      <li nz-menu-item    [routerLink]="['/home/dashboard']"  nzSelected>

        <span nz-icon nzType="windows" nzTheme="outline"></span>
        <span><a >Dashboard</a></span>
      </li>
      <li nz-submenu nzTitle="list" nzType="folder" nzIcon="folder">
        <ul>
          <li nz-menu-item  [routerLink]="['/home/userlist']"><span nz-icon nzType="team" nzTheme="outline" style="padding:5px"></span> Admin</li>
          <li nz-menu-item [routerLink]="['/home/employeelist']"><span nz-icon nzType="snippets" nzTheme="outline" style="padding:5px"></span>Employee</li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="['/home/attendance']">
        <span nz-icon nzType="contacts" nzTheme="outline"></span>
        <span>Attendance</span>
      </li>
      <li nz-menu-item [routerLink]="['/home/applyrecord']">
        <span nz-icon nzType="file-text" nzTheme="outline"></span>
        <span>Apply Leave Record</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"  ></span>
        <span>Logout</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout style="background:transparent">
    <nz-header style="background:transparent">
      <span style="background:transparent"
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>
    </nz-header>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
